body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NoteList Styling  */
.note-list {
  /* display: flex;
  flex-wrap: wrap; */

  max-width: 80rem;
  margin: 0 auto;
  /* margin-right: 4rem; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem,1fr));
  gap: 1.2rem
  /* margin-left: 10rem; */
  /* justify-self: center; */
}

/* Note Styling */
.note {
  background-color: #fef68a;
  padding: 1rem 1.2rem;
  margin: 1.2rem;
  height: 15rem;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 5px 0.5px black;
  width:75%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.add-note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #67d7cc;
  padding: 1rem 1.2rem;
  margin: 1.2rem;
  height: 15rem;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 5px 0.5px black;
  width:75%;
  
}
.note-btn {
  align-self: flex-end;
  font-size: 1.8rem;
  cursor: pointer;
  color: grey;
  transition: color 0.5s;
}
.note-btn:hover {
  color: black
}
.btn-special {
  align-self: flex-end;
  font-size: 1.2rem;
  border: none;
  color: black;
  padding:0.2rem 0.8rem;
  border-radius:0.4rem ;
  cursor: pointer;
}
/* textarea */
.add-note_textarea {
  border: none;
  resize: none;
  outline: none;
  background-color: transparent;
}
